*{
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}



video::-webkit-media-controls {
  display:none !important;
}



.header
{
width: 100%;
height: 70%;
left: 0px;
top: 0px;

}

.img
{
width: 100%;
height: 800px;
}

a{
  color: black;
  text-decoration: none;
}

.header img {
width: 100%;
height: 100%;
}

.wrapper_burger{
  display: none;
}

.header1
{
  width: 100% - 4px;
  height: 1000px;
  left: 0px;
  top: 0px;
  right: 0px;
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  position: absolute;
}

.header_inner
{
  margin-top: 1%;
  left: 0px;
  top: 0px;
  right: 0px;
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  position: absolute;
}

.header_inner1
{
  margin-top: 6%;
  
  border: 0.5px solid;
  left: 0px;
  top: 0px;
  right: 0px;
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  position: absolute;
  
}

.header_inner2 h1{
  font-size: 60px;
  margin-bottom: 20px;
}

.header_inner2
{
  margin-top: 15%;
  margin-left: 3%;
  width: 100%;
  height: 80px;
  left: 0%;
  top: 0%;
  right: 0%;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  position: absolute;
  color: #FFFFFF;
font-family: 'Inter';
font-style: italic;
font-weight: 700;
line-height: 14px;
margin-left: 13%;
}

.h11
{
margin-left: 0%;
max-width: 100%;
width: 8%;
height: 3%;
}
.h12
{
margin-right: 40%;

width: 12%;
height: 3%;
}
.h13
{
width: 120%;
}



.h2
{
color: #FFFFFF;
font-family: 'Inter';
font-style: italic;
font-weight: 700;
font-size: 16px;
line-height: 14px;
margin-top: 2%;

}


.h3
{
  margin-top: 100%;
width: 100%;
color: #FFFFFF;
font-family: 'Inter';
font-style: italic;
font-weight: 700;
font-size: 16px;
line-height: 14px;
margin-top: 2%;
margin-left: 2%;
}

.h4
{
width: 100%;
color: #FFFFFF;
font-family: 'Inter';
font-style: italic;
font-weight: 700;
font-size: 30px;
line-height: 58px;
padding-right: 400px;
}




.main
{
width: 100%;
height: 80%;
left: 0px;
top: 0px;
background: white;
}

.img1
{
max-width: 100%;
width: 400px;
height: 300px;

}

.img2
{
width: 100%;
height: 600px;
}

.img3
{
width: 100%;
height: 300px;
}


.img1
{
max-width: 100%;
width: 400px;
height: 300px;
border-radius: 25px;
}

.main_inner
{
  width: 100%;
  background: white;
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}

.main_inner1
{
 max-height: 100vh;
}

.text
{


margin-left: 5%;
margin-top: 80%;
position: absolute;
top: 0;
left: 0;
}

.text img{
  width: 100%;
  height: auto;
}

.forVid
{
  position: relative;
  padding-bottom: 56,25%;
}

.video12
{
 width: 100%;
  height: auto;


}





.main_inner2
{
  `
    object-fit: cover;
  position: relative;
  width: 100% - 4px;
  height: 100px;
  border: 1px solid;
  left: 0px;
  top: 0px;
  right: 0px;
  background: white;
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;

}
.main_inner3
{
  width: 100% - 4px;
  margin-top: 2%;
  margin-bottom: 2%;
  left: 0px;
  top: 0px;
  right: 0px;
  background: white;
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}
.main_inner4
{
  width: 100% - 4px;
  height: 600px;
  left: 0px;
  top: 0px;
  right: 0px;
  background: white;
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 400px;
  height: 500px;
}


.m1
{
position: relative;
max-width: 400px;
width: 90%;
height: 300px;
border: 1px solid;
border-radius: 25px;
margin-top: 2%;
margin-bottom: 2%;
}

.m2
{
margin-top: 2%;
max-width: 100%;
width: 250px;
height: 80px;
}

.video1
{
  width: 60%;
  height: 50%;
  margin-left: 20%;

}

.m4
{
max-width: 100%;
width: 365px;
height: 300px;
border: 1px solid;
}

.m5
{
max-width: 100%;
width: 350px;
height: 300px;
border: 1px solid;
padding-left: 15px;
}

.layer
{
  padding-left: 5px;
}



.footer
{
width: 100%;
height: 200px;
left: 0px;
top: 0px;
background: grey;
}

.img5
{
  width: 100%;
  height: 200px;
}


.footer_inner
{
  width: 100% - 4px;
  height: 200px;
  left: 0px;
  top: 0px;
  right: 0px;
  display: flex;
  background: url(77.jpg);
background-size: cover;
background-attachment: fixed;



  justify-content: space-around;
  align-content: center;
  align-items: center;
border: 1px solid;

}

.h10
{
  margin-top: 100%;
width: 100%;
color: white;
font-family: 'Inter';
font-style: bold;
font-weight: 700;
font-size: 16px;
line-height: 14px;
margin-top: 2%;
margin-left: 2%;
}


.log2
{
max-width: 100%;
width: 180px;
height: 40px;
}

.f1
{
width: 180px;
height: 40px;

}

.f2
{
width: 180px;
height: 40px;
}

.f3
{
max-width: 100%;
width: 180px;
height: 40px;
}

.f4
{
max-width: 100%;
width: 240px;
height: 30px;
background: black;
}

.header_inner2 h1{
  padding-left: 20px;
}





.wrapper_burger{
  margin: 0 0;
  width: 100px;
  position: relative;
  color: white;
  text-align: center;
  height: 45px;
  font-family: 'Arial';
    top: 18px;
    cursor: pointer;
    margin-top: -6px;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#check-menu{
  display: none;
}

label{
  display: block;
  position: relative;
  top: 0;
  left: 20px;
  width: 45px;
  height: 100%;
  cursor: pointer;
  line-height: 85px;
}

.burger-line{
  position: absolute;
  top: 6px;
  left: 20px;
  width: 45px;
  height: 3px;
  background-color: #000;
}

.second, .third{
top: 16px;
}

.fourth{
  top: 28px;
}

.main-menu{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 100%;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
  max-height: 0;
  font-size: 0;
  overflow: hidden;
  transition: .5s all;
}

.navigation{
  display: block;
  width: 80%;
  padding: 20px;
  color: black;
  text-decoration: none;
  border-top: 1px solid #000;
  background-color: #f9f9f9;
}
.navigation:hover{
  color: fuchsia;
}

#check-menu:checked ~ .main-menu{
width: 600px;
max-height: 800px;
font-size: 16px;
}

#check-menu:checked ~ .first{
  display: none;
}

#check-menu:checked ~ .second{
transform: rotate(45deg);
}

#check-menu:checked ~ .third{
transform: rotate(-45deg);
}

#check-menu:checked ~ .fourth{
  display: none;
}






























































@media (max-width: 600px) {


  .header_inner2 h1{
    font-size: 30px;
  margin-bottom: 5px;
  }

.wrapper_burger, .main-menu{
  display: block;
}

.h2{
  display: none;
}


.h11, .h12, .h13{
  display: none;
}



.header
{
width: 100%;
height: 100%;
left: 0px;
top: 0px;
}

.img
{
width: 100%;
height: 800px;
}

.log1
{
max-width: 100%;
width: 100px;
height: 20px;
}

.header img {
width: 100%;
height: 100%;
}



.header1
{
  width: 600px;
  height: 1000px;
  left: 0px;
  top: 0px;
  right: 0px;
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  position: absolute;
}

.header_inner
{
  width: 600px;
  height: 30px;
  left: 0px;
  top: 0px;
  right: 0px;
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  position: absolute;
}

.header_inner1
{
  transform : translate(0px, 5px);
  width: 600px;
  height: 40px;
  border: 0.5px solid;
  left: 0px;
  top: 0px;
  right: 0px;
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  position: absolute;
}

.header_inner2
{
  margin-top: 16%;
  margin-left: 3%;
  width: 300;
  height: 70px;
  color: #FFFFFF;
font-family: 'Inter';
font-style: italic;
font-weight: 700;
font-size: 13px;
}

.h11
{
margin-left: 0%;
max-width: 100%;
width: 80px;
height: 20px;
}
.h12
{
margin-right: 40%;
max-width: 100%;
width: 80px;
height: 20px;
}
.h13
{
max-width: 100%;
width: 20px;
height: 20px;
}



.h2
{
max-width: 100%;
width: 70px;
height: 20px;
color: #FFFFFF;
font-family: 'Inter';
font-style: italic;
font-weight: 700;
font-size: 8px;
line-height: 14px;
margin-bottom: 2px;

}


.h3
{
max-width: 100%;
width: 200px;
height: 30px;
color: #FFFFFF;
font-family: 'Inter';
font-style: italic;
font-weight: 700;
font-size: 8px;
line-height: 14px;
margin-top: 3%;
margin-left: 300px;
}

.h4
{

color: #FFFFFF;
font-family: 'Inter';
font-style: italic;
font-weight: 700;
font-size: 12px;
line-height: 58px;
padding-right: 400px;
}




.main
{
width: 600px;
height: 80%;
left: 0px;
top: 0px;
background: white;
}

.img1
{
max-width: 100%;
width: 400px;
height: 300px;

}

.img2
{
width: 100%;
height: 600px;
}




.img1
{
width: 100%;
height: 120px;
border-radius: 25px;
}

.main_inner
{
  width: 550px;
  height: 50%;
  background: white;
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}




.main_inner1
{
  width: 100%;
  left: 0px;
  top: 0px;
  right: 0px;
  background: white;
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  padding-bottom: 15px;
}

.main_inner1 img{
  width: 100%;
}

.main_inner2
{
  width: 600px;
  height: 50px;
  border: 1px solid;
  left: 0px;
  top: 0px;
  right: 0px;
  background: white;
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;

}
.main_inner3
{
  width: 600px;
  height: 50%;
  left: 0px;
  top: 0px;
  right: 0px;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  margin-top: 10px;
}
.main_inner4
{
  width: 600px;
  height: 400px;
  left: 0px;
  top: 0px;
  right: 0px;
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 400px;
  height: 500px;
}


.m1
{
width: 150px;
height: 120px;
border: 1px solid;
border-radius: 25px;
margin-top: 2%;
margin-bottom: 2%;
}

.m2
{
margin-top: 50%;
max-width: 100%;
width: 150px;
height: 30px;
color: #000;
font-size: 10px;
line-height: 14px;
margin-top: 2%;
}

.m3
{
max-width: 100%;
width: 400px;
height: 300px;

border: 1px solid;
}


.img3
{
width: 100%;
}

.m4
{
width: 550px;
margin-left: 8px;
}

.m5
{

width: 400px;
height: 150px;
border: 1px solid;
}

.layer
{
  padding-left: 5px;
}



.footer
{
width: 100%;
height: 100px;
left: 0px;
top: 0px;
background: grey;
}

.img5
{
  width: 100%;
  height: 200px;
}


.footer_inner
{
  width: 600px;
  height: 100px;
  left: 0px;
  top: 0px;
  right: 0px;
  display: flex;
  
  justify-content: space-around;
  align-content: center;
  align-items: center;
border: 1px solid;

}


.log2
{
max-width: 100%;
width: 120px;
height: 30px;
}

.f1
{
width: 120px;
height: 30px;

}

.f2
{
  transform: translate(10px, 0px);
width: 120px;
height: 30px;

}

.f3
{
max-width: 100%;
width: 120px;
height: 30px;
}
}